 {
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/react-in-jsx-scope": 0,
    "no-unused-vars": [
      "error", { "varsIgnorePattern": "retractor" }
    ]
  }
}
